@import url('file:///home/rwithik/.cache/wal/colors.css');

body {
  background-color: grey;
  color: white;
  font-family: 'Noto Sans';
  height: 100%;
  line-height: 3vh;
  width: 99%;
}




@keyframes bouncing-loader {
  100% {
    opacity: 0.1;
    background-color: blue;
    transform: translate3d(0, -1rem, 0);
  }
}

@keyframes image-rot {
  25% {
    background-color: blue;
  }
  20% {
    background-color: orange;
    /*width: 20vh;*/
  }
  50% {
    background-color: black;
    border-radius: 50%;
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
    background-color: white;
  }
}


.bouncing-loader {
  margin-top: 40vh;
  display: flex;
  justify-content: center;
}
.bouncing-loader > div {
  width: 1rem;
  height: 1rem;
  margin: 3rem 0.2rem;
  background: #8385aa;
  border-radius: 50%;
  animation: bouncing-loader 0.6s infinite alternate;
}
.bouncing-loader > div:nth-child(2) {
  animation-delay: 0.2s;
}
.bouncing-loader > div:nth-child(3) {
  animation-delay: 0.4s;
}

.image {
  text-align: center;
  margin-top: 20vh;
  height: 30vh;
  margin-left: 35vw;
  background-color: white;
  /*width: auto;*/
  width: 30vh;
  animation: image-rot 4s infinite linear;
}

img {
  height: 50vh;
}

.next {
  /*display: */
}